<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dotnet" />
  <package id="emscripten" />
  <package id="git" />
  <package id="memurai-developer" />
  <package id="neovim" />
  <package id="ngrok" />
  <package id="nunit-console-runner" />
  <package id="python" />
  <package id="redis-64" />
</packages>
