[user]
  name = Alan Hape
  email = ahape@brightmetrics.com

[help]
  autocorrect = 1

[push]
  autoSetupRemote = true

[grep]
  fullName = true
  lineNumber = true

[log]
  abbrevCommit = true

[format]
  pretty = oneline

[alias]
  pull-r = pull -r

#[web]
#  browser = chrome

#[browser "chrome"]
#  path = C:\\Program Files\\Google\\Chrome\\Application\\chrome.exe
#  path = /Applications/Google Chrome.app

[merge]
  tool = code

[mergetool "code"]
  cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED

[diff]
  tool = code

[difftool "code"]
  cmd = code --new-window --wait --diff $LOCAL $REMOTE

[core]
  longpaths = true
  hooksPath = .githooks
#  autocrlf = input # Mac
#  autocrlf = true # Windows
